header {
	background-color: #b89133
}
.nav {
	padding top: 45px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding-top: 45px;
}

.growl_box {
	border: 1px solid black;
}

.left_bar {
	background: green;
}

.right_bar {
	background: blue;
}